<h1>Les moussaillons de Paris </h1>
<p> En solitaire pour l'instant mais un jour, le bateau naviguera à plusieurs</p>
<h2> Le capitaine: </h2>
<ol>
<li> Tarek ZEMMOURI </li>
</ol>
<p> </p>
<div> 
    <p>
        <%= link_to 'Contact', contact_path %> 
    </p>
</div>
